.table-container {
  margin-top: 40px;
}

table {
  margin: auto;
  border-collapse: collapse;
  background-color: green;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background-color: blue;
}
h2{
  color: brown;
}